{% load static %}
{% load widget_tweaks %}
{% load price_management %}
<!DOCTYPE html>
<html lang="fa">
	
<head>
		<meta charset="utf-8" />
		<meta name="author" content="Themezhub" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>پنل کاربری</title>
		 

        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
    </head>
	
    <body dir="rtl">

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include 'main/navigation.html' %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Dashboard: Dashboard Start ================================== -->
			<section class="gray pt-4" style="background-color: whitesmoke">
				<div class="container-fluid">
										
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="dashboard-navbar" style="border-radius: 20px;">
								
								<div class="d-user-avater">
									<img src="/{{request.user.profile}}" class="img-fluid avater" alt="">
									<h4>{{request.user.username}}</h4>
									{% comment %} <span>برنامه نویس ارشد</span> {% endcomment %}
									<div class="elso_syu89">
										<ul>
											<li><a href="https://www.twitter.com/opozex"><i class="ti-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/opozex"><i class="ti-instagram"></i></a></li>
										</ul>
									</div>
									<div class="elso_syu77">
										<div class="one_third"><div class="one_45ic text-warning bg-light-warning"><i class="fas fa-star"></i></div><span>امتیازات</span></div>
										<div class="one_third"><a href="{% url 'account:courses' %}"><div class="one_45ic text-success bg-light-success"><i class="fas fa-file-invoice"></i></div><span>دوره ها</span></a></div>
										<div class="one_third"><div class="one_45ic text-purple bg-light-purple"><i class="fas fa-user"></i></div><span>هنرجویان</span></div>
									</div>
								</div>
								
								<div class="d-navigation">
									<ul id="side-menu">
										<li class="active"><a href="{% url 'account:home' %}"><i class="fas fa-th"></i>داشبورد</a></li>
										<li><a href="{% url 'Wallet:wallet' %}" style="font-family: sans-serif;"><i class="fas fa-credit-card"></i>کیف پول ({% if bal == 0 %}0 {% else %}{% format balance %}{% endif %})</a></li>
						
										<li><a href="{% url "ticket:ticket" %}"><i class="fas fa-comment"></i>تیکت</a></li>
										<li>
											<a href="{% url 'account:courses' %}"><i class="fas fa-shopping-cart"></i>دوره های خریداری شده</a>
										
										</li>
										<li>
											<a href="{% url 'account_email' %}"><i class="fas fa-envelope"></i>تغییر ایمیل</a>
											
										</li>
										<li>
											<a href="{% url 'account:status' %}"><i class="fas fa-history"></i>تاریخچه ی خرید و انتقالات</a>
											
										</li>
										
										<li>
											<a href="{% url 'account_change_password' %}"><i class="fas fa-key ml-1 rotate-img"></i>تغییر رمز عبور</span></a>
											
										</li>
										<li>
											<form action="{% url 'account:logout' %}" method="post">
												{% csrf_token %}
												<button type="submit" class="btn btn-danger">Logout</button>
											</form>
											
										</li>
						
									</ul>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-9 col-sm-12">
							
							<!-- Row -->
							<div class="row justify-content-between">
								<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
									<div class="dashboard_wrap d-flex align-items-center justify-content-between">
										<div class="arion">
											<nav class="transparent">
												<ol class="breadcrumb">
													<li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
													<li class="breadcrumb-item active" aria-current="page">حساب کاربری</li>
												</ol>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<!-- /Row -->
							
							<div class="row">
								<div class="col-xl-7 col-lg-6 col-md-12">
									
								</div>
								
							
							</div>
							<div class="row justify-content-between">
								<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
									<div class="alert alert-light col-12" style="border-radius:10px;" role="alert">
									
										<ul style="list-style: disc;">
											<h5>اطلاعیه :</h5>
											<li><h6>خوش اومدی رفیق :)</h6></li>
											<li><h6>{{siteData.message}}</h6></li>
											
										</ul>	
									
								</div>
								</div>
							</div>
							<div class="row justify-content-between">
								<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
									<div class="alert alert-light col-12" style="border-radius:10px;" role="alert">
									
										<ul style="list-style: disc;">
											{% comment %} <h5>تکمیل کردن پروفایل :</h5> {% endcomment %}
											<a href="{% url 'account:complete' %}">تکمیل پروفایل:</a>
											{% if form.non_field_errors %}

											{% for errors in form.non_field_errors %}
										<div class="alert alert-success" role="success">
												{{errors}}
										</div>
											{% endfor %}
										{% endif %}
										</ul>	
									
								</div>
								</div>
							</div>
							
						</div>
					
					</div>
					
				</div>
			</section>
			<!-- ============================ Dashboard: Dashboard End ================================== -->
			
		<!-- ============================ Call To Action ================================== -->
		{% include "main/footer.html" %}

			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static "assets/js/jquery.min.js" %}"></script>
		<script src="{% static "assets/js/popper.min.js" %}"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/select2.min.js" %}"></script>
		<script src="{% static "assets/js/slick.js" %}"></script>
		<script src="{% static "assets/js/moment.min.js" %}"></script>
		<script src="{% static "assets/js/daterangepicker.js" %}"></script> 
		<script src="{% static "assets/js/summernote.min.js" %}"></script>
		<script src="{% static "assets/js/metisMenu.min.js" %}"></script>	
		<script src="{% static "assets/js/custom.js" %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>

</html>