{% load static %}
{% load widget_tweaks %}
{% load price_management %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ثبت نام</title>
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">

</head>

<body dir="rtl">

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">

      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
{% include 'main/navigation.html' %}
<!-- End Navigation -->
<div class="clearfix"></div>
  
<center>

{% load i18n %}
{% load account socialaccount %}

{% comment %} {% block head_title %}{% trans "Sign In" %}{% endblock %} {% endcomment %}
<br>
<br>
<br>

{% block content %}

<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
{% include "main/footer.html" %}

			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static "assets/js/jquery.min.js" %}"></script>
		<script src="{% static "assets/js/popper.min.js" %}"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/select2.min.js" %}"></script>
		<script src="{% static "assets/js/slick.js" %}"></script>
		<script src="{% static "assets/js/moment.min.js" %}"></script>
		<script src="{% static "assets/js/daterangepicker.js" %}"></script> 
		<script src="{% static "assets/js/summernote.min.js" %}"></script>
		<script src="{% static "assets/js/metisMenu.min.js" %}"></script>	
		<script src="{% static "assets/js/custom.js" %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>

</html>