<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>تغییر رمزعبور</title>
        <style>
            a{
                text-decoration: none;
            }
            body{
                background: whitesmoke;direction: rtl;
            }
            </style>
</head>
<body class="d-flex justify-content-center">
    {% extends "account/base.html" %}
    
    {% load widget_tweaks %}
    {% load i18n %}
    {% load account %}
    
    {% block head_title %}{% trans "تغییر رمزعبور" %}{% endblock %}
    
    {% block content %}
    <div class="container mt-5" style="text-align: right;">
        
<h1>تغییر رمزعبور</h1>
{% if user.is_authenticated %}
    توجه: شما هم اکنون با یوزر {{request.user}} لاگین هستید.
    {% endif %}
    <p>آیا رمز ورود خود را فراموش کرده اید؟  آدرس ایمیل خود را در زیر وارد کنید، ما یک ایمیل برای شما ارسال می کنیم که به شما امکان می دهد آن را بازنشانی کنید.</p>
    <form class="mt-5" method="POST" action="{% url 'account_reset_password' %}">
        {% csrf_token %}
    
         <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">ایمیل:</label>
          {{ form.email|add_class:"form-control" }}
          
        </div>
        
        <button type="submit" class="btn btn-primary mt-5">ارسال کن</button>
        
      </form>
      <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
</div>
{% endblock %}

</body>
</html>