<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>تغییر رمزعبور</title>
        <style>
            a{
                text-decoration: none;
            }
            body{
                background: whitesmoke;direction: rtl;
            }
            </style>
</head>
<body class="d-flex justify-content-center">
    {% extends "account/base.html" %}
    
    {% load widget_tweaks %}
    {% load i18n %}
    
{% block head_title %}{% trans "تغییر رمزعبور" %}{% endblock %}

{% block content %}
<div class="container mt-5" style="text-align: right;">

<h1>تغییر رمزعبور</h1>
    <form class="mt-5" method="POST" action="{% url 'account_change_password' %}">
        {% csrf_token %}
         <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">پسورد کنونی</label>
          {{ form.oldpassword|add_class:"form-control" }}
          
        </div>
        <p>    گذرواژه شما نمی‌تواند شبیه سایر اطلاعات شخصی شما باشد.</p>
            <p>رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</p>
            <p>گذرواژه شما نمی تواند یک گذرواژه معمول باشد.</p>
            <p>گذرواژه شما نمی تواند کلا عدد باشد</p>
        
          <p>  این فیلد لازم است.</p>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">گذرواژه جدید</label>
          {{ form.password1|add_class:"form-control" }}
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">گذرواژه جدید دوباره</label>
            {{ form.password2|add_class:"form-control" }}
          </div>

        <button type="submit" class="btn btn-primary mt-5">تغییر بده</button>
        <br><br><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </form>
    
</div>
{% endblock %}

</body>
</html>