{% load static %}
{% load widget_tweaks %}
{% load price_management %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ثبت نام</title>
  <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">

</head>

<body dir="rtl">

  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">

      <!-- ============================================================== -->
      <!-- Top header  -->
      <!-- ============================================================== -->
      <!-- Start Navigation -->
{% include 'main/navigation.html' %}
<!-- End Navigation -->
<div class="clearfix"></div>
  
<center>
{% load i18n %}

{% comment %} {% block head_title %}{% trans "Signup" %}{% endblock %} {% endcomment %}
<br>
<br>
<br>
{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="signup col-5" id="signup_form" method="post" action="{% url 'account_signup' %}" style="border: 1px dashed gray;">
  {% csrf_token %}

  {{ form.non_field_errors | safe }}

  <input type="hidden" name="remember" value="true" />
  <div>
    <div>
      {% if form.username.errors %}
      <div class="alert alert-danger" role="alert">
      {{ form.username.errors | safe }}
    </div>
    {% endif %}
      <label for="id_username" class="form-label">نام کاربری</label>
      {{ form.username|add_class:"form-control" }}
    </div>
    <div>
      {% if form.email.errors %}
      <div class="alert alert-danger" role="alert">
      {{ form.email.errors | safe }}
      </div>
      {% endif %}
      <label for="id_email" class="form-label">ایمیل</label>
      {{ form.email|add_class:"form-control" }}
    </div>
    <div>
      {% if form.password1.errors %}
      <div class="alert alert-danger" role="alert">
      {{ form.password1.errors | safe }}
      </div>
      {% endif %}
      <label for="id_password1" class="form-label">رمزعبور</label>
      {{ form.password1|add_class:"form-control" }}
    </div>
    <div>
      {% if form.password2.errors %}
      <div class="alert alert-danger" role="alert">
      {{ form.password2.errors | safe }}
      </div>
      {% endif %}
      <label for="id_password2" class="form-label">تکرار رمزعبور</label>
      {{ form.password2|add_class:"form-control" }}
    </div>
  </div>  
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  
  <button type="submit" class="btn btn-primary mb-3">{% trans "Sign Up" %} &raquo;</button>
</form>
</center>
{% endblock %}
	{% include "main/footer.html" %}

			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="{% static "assets/js/jquery.min.js" %}"></script>
		<script src="{% static "assets/js/popper.min.js" %}"></script>
		<script src="{% static "assets/js/bootstrap.min.js" %}"></script>
		<script src="{% static "assets/js/select2.min.js" %}"></script>
		<script src="{% static "assets/js/slick.js" %}"></script>
		<script src="{% static "assets/js/moment.min.js" %}"></script>
		<script src="{% static "assets/js/daterangepicker.js" %}"></script> 
		<script src="{% static "assets/js/summernote.min.js" %}"></script>
		<script src="{% static "assets/js/metisMenu.min.js" %}"></script>	
		<script src="{% static "assets/js/custom.js" %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>

</html>