{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		#logo{
			border-radius: 50%;
			height: 50px;
			width:70px;
		}
		{% block style %}{% endblock style %}
	</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
    <title>{% block title %}{{siteData.nameF}} | {{siteData.nameE}}{% endblock title %}</title>
</head>
    <body dir="rtl">

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
           <!-- Start Navigation -->
			{% include 'main/navigation.html' %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			{% block body %}{% endblock %}
			<!-- ============================ Pricing Table End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->

			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			{% include 'main/footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
	
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		{% block js %}{% endblock js %}
		<script type="text/javascript" src="{% static '/assets/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/select2.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/slick.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/daterangepicker.js' %}"></script> 
		<script type="text/javascript" src="{% static '/assets/js/summernote.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/metisMenu.min.js'  %}"></script>	
		<script type="text/javascript" src="{% static '/assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		


</body>
</html>