{% extends 'main/base.html' %}
{% load price_management %}
{% load static %}
{% block body %}

<!-- ============================ Hero Banner  Start================================== -->
<div class="hero_banner image-cover image_bottom h7_bg">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="simple-search-wrap text-right">
					<div class="hero_search-2">
						<form method="post">
						<h1 class="banner_title mb-4 font-2">این پروژه به شدت در دست توسعه میباشد ...</h1>
						<p class="font-lg mb-4">تمام ویدیو ها و دوره های تاپ دوبله شده همراه  داکیومنت اصلی ترجمه شده
							{% csrf_token %}
						<div class="input-group simple_search">
							<i class="fa fa-search ico"></i>
							<input type="text" name="search" class="form-control" placeholder="جستجو دوره آموزش...">
							<div class="input-group-append">
								<button class="btn theme-bg" type="submit">جستجو</button>
							</div>
						</div>
						<div class="crs_trio_info">

							<div class="crs_trio" style="margin: auto;">
								<h4 class="ctr"><span class="rt_count">{{prodc}}</span> دوره</h4>
								<span class="pol_title">آموزش آنلاین</span>
							</div>
						</div>
					</form>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-12">
				<div class="side_block extream_img">
					<div class="list_crs_img">
						<img src="{% static 'assets/img/ic-1.png' %}" class="img-fluid cirl animate-fl-y" alt="" />
						<img src="{% static 'assets/img/ic-2.png' %}" class="img-fluid arrow animate-fl-x" alt="" />
						<img src="{% static 'assets/img/ic-3.png' %}" class="img-fluid moon animate-fl-x" alt="" />
					</div>
					<img src="{% static 'assets/img/side-2.png' %}" class="img-fluid" alt="" />
				</div>
			</div>
		</div>
	</div>
</div>
<!-- ============================ Hero Banner End ================================== -->


<!-- ================================ Tag Award ================================ -->

<!-- ============================ Featured Categories Start ================================== -->
<section class="min">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h3 class="font-2" id="category">دسته بندی های آموزشی <span class="theme-cl">منتخب</span></h3>
					{% comment %} <p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p> {% endcomment %}
				</div>
			</div>
		</div>
		
		
		<div class="row justify-content-center">
			<!-- Single Category -->
			{% for cat in lang %}
			
			<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
				<div class="crs_cate_wrap style_2">
					<a href="{% url 'category:category' cat.hashtag %}" class="crs_cate_box">
						<div class="crs_cate_icon"><i class="fa fa-code"></i></div>
						<div class="crs_cate_caption"><span>{{cat}}</span></div>
						{% comment %} <div class="crs_cate_count"><span>22 دوره</span></div> {% endcomment %}
					</a>
				</div>
			</div>
			{% endfor %}
			
		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Featured Categories End ================================== -->

<!-- ============================ Latest Cources Start ================================== -->
<section class="gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h3 class="font-2">دوره های آموزشی <span class="theme-cl">رایـگان</span></h3>
					<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
		
			<!-- Single Grid -->
			{% for peo in products %}
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="{% url "product:detail" peo.slug %}" class="crs_detail_link">
							<img src="{{peo.image}}" class="img-fluid rounded" alt="{{peo.name}}" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								{% for ca in peo.language.all %}

								<div class="crs_cates"><span>{{ca}}</span></div>

								{% endfor %}
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">{% takhfif peo.price peo.pricepercent peo.id %}</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="{% url "product:detail" peo.slug %}" class="crs_title_link">{{peo.name}}</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>{{peo.tutorial_level}}</span></li>
								<li><i class="fa fa-video text-success"></i><span>{{peo.tutorial_count}} دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="{% url "product:detail" peo.slug %}"><img src="{{request.user.profile}}" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">{{peo.student_count}}</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">{{peo.view}}</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
			{% endfor %}
			
		</div>
		
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 mt-2">
				<div class="text-center"><a href="grid-layout-with-sidebar.html" class="btn btn-md theme-bg-light theme-cl">همه آموزش ها</a></div>
			</div>
		</div>
		
	</div>
</section>
<!-- ============================ Latest Cources End ================================== -->

<!-- ============================ Work Process Start ================================== -->
<section class="imageblock">
	<div class="imageblock__content">
		<div class="background-image-holder" style="background: url({% static "assets/img/side-1.jpg" %});">
			<img alt="image" src="{% static "assets/img/side-1.jpg" %}">
		</div>
	</div>
	<div class="container">
		
		<div class="row align-items-center justify-content-between">
			<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
				<div class="lmp_caption">
					<h2 class="mb-3 font-2">معرفی بهترین مربیان در شهر شما</h2>
					<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
					<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
						<div class="d-flex align-items-center">
						  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
							<i class="fas fa-check"></i>
						  </div>
						  <h6 class="mb-0 mr-3">دسترسی کاملا مادام العمر</h6>
						</div>
					</div>
					<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
						<div class="d-flex align-items-center">
						  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
							<i class="fas fa-check"></i>
						  </div>
						  <h6 class="mb-0 mr-3">بیش از 20 منبع قابل دانلود</h6>
						</div>
					</div>
					<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
						<div class="d-flex align-items-center">
						  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
							<i class="fas fa-check"></i>
						  </div>
						  <h6 class="mb-0 mr-3">ارائه مدرک معتبر</h6>
						</div>
					</div>
					<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
						<div class="d-flex align-items-center">
						  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
							<i class="fas fa-check"></i>
						  </div>
						  <h6 class="mb-0 mr-3">آزمایشی رایگان 7 روز</h6>
						</div>
					</div>
					<div class="text-right mt-4"><a href="#" class="btn btn-md text-light theme-bg">شروع ثبت نام</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
	
<section class="imageblock pt-m-0">
	<div class="imageblock__content right">
		<div class="background-image-holder" style="background: url({% static "assets/img/side-2.jpg" %});">
			<img alt="image" src="{% static "assets/img/side-1.jpg" %}">
		</div>
	</div>
	<div class="container">
		<div class="row align-items-center justify-content-end">
			<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
				<div class="lmp_caption">
					<ol class="list-unstyled p-0">
					  <li class="d-flex align-items-start my-3 my-md-4">
						<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
						  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-photo-video"></i></div>
						</div>
						<div class="mr-3 mr-md-4">
						  <h4 class="font-2">آپلود دوره های آموزشی</h4>
						  <p>
							برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						  </p>
						</div>
					  </li>
					  <li class="d-flex align-items-start my-3 my-md-4">
						<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
						  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-edit"></i></div>
						</div>
						<div class="mr-3 mr-md-4">
						  <h4 class="font-2">سفارشی سازی آسان</h4>
						  <p>
							برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						  </p>
						</div>
					  </li>
					   <li class="d-flex align-items-start my-3 my-md-4">
						<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
						  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-question-circle"></i></div>
						</div>
						<div class="mr-3 mr-md-4">
						  <h4 class="font-2">پرسش سوالات نامحدود</h4>
						  <p>
							برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
						  </p>
						</div>
					  </li>
					  <li class="d-flex align-items-start my-3 my-md-4">
						<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
						  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-thumbs-up"></i></div>
						</div>
						<div class="mr-3 mr-md-4">
						  <h4 class="font-2">100% رضایت کاربر</h4>
						  <p>
							سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
						  </p>
						</div>
					  </li>
					</ol>
				</div>
			</div>
		</div>
		
	</div>
</section>
<div class="clearfix"></div>
<!-- ============================ Work Process End ================================== -->

<!-- ============================ Our Instructor Start ================================== -->
<section class="gray">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-10 text-center">
				<div class="sec-heading center mb-4">
					<h3 class="font-2">لیست مدرسین <span class="theme-cl">پیشنهادی</span></h3>
					<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="tutor-slide">
				
					<!-- Single Item -->
					<div class="lios_item">	
						<div class="crs_trt_grid shadow_none brd">
							<div class="crs_trt_thumb">
								<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="{% static "assets/img/t-1.png" %}" class="img-fluid" alt="" /></a>
							</div>
							<div class="crs_trt_caption large">
								<div class="instructor_tag"><span>مدرس برتر ریاضیات و فیزیک</span></div>
								<div class="instructor_title"><h4><a href="instructor-detail.html">مصطفی اسلامی</a></h4></div>
								<div class="trt_rate_inf">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star-half filled"></i>
									<span class="alt_rates">(244 نظر ثبت شده)</span>
								</div>
							</div>
							<div class="crs_trt_footer">
								<div class="crs_flex">
									<div class="crs_fl_first">
										<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
									</div>
									<div class="crs_fl_last">
										<div class="foot_list_info">
											<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Single Item -->
					<div class="lios_item">
						<div class="crs_trt_grid shadow_none brd">
							<div class="crs_trt_thumb">
								<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-2.png" class="img-fluid" alt="" /></a>
							</div>
							<div class="crs_trt_caption large">
								<div class="instructor_tag"><span>مدرس برتر ریاضی و فیزیک</span></div>
								<div class="instructor_title"><h4><a href="instructor-detail.html">نادیا ناصری</a></h4></div>
								<div class="trt_rate_inf">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star-half filled"></i>
									<span class="alt_rates">(244 نظر ثبت شده)</span>
								</div>
							</div>
							<div class="crs_trt_footer">
								<div class="crs_flex">
									<div class="crs_fl_first">
										<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
									</div>
									<div class="crs_fl_last">
										<div class="foot_list_info">
											<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Single Item -->
					<div class="lios_item">
						<div class="crs_trt_grid shadow_none brd">
							<div class="crs_trt_thumb">
								<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-3.png" class="img-fluid" alt="" /></a>
							</div>
							<div class="crs_trt_caption large">
								<div class="instructor_tag"><span>مدرس برتر شیمی</span></div>
								<div class="instructor_title"><h4><a href="instructor-detail.html">سروش نجفی نژاد</a></h4></div>
								<div class="trt_rate_inf">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star-half filled"></i>
									<span class="alt_rates">(244 نظر ثبت شده)</span>
								</div>
							</div>
							<div class="crs_trt_footer">
								<div class="crs_flex">
									<div class="crs_fl_first">
										<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
									</div>
									<div class="crs_fl_last">
										<div class="foot_list_info">
											<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Single Item -->
					<div class="lios_item">
						<div class="crs_trt_grid shadow_none brd">
							<div class="crs_trt_thumb">
								<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-4.png" class="img-fluid" alt="" /></a>
							</div>
							<div class="crs_trt_caption large">
								<div class="instructor_tag"><span>دکترای آموزش زبان انگلیسی</span></div>
								<div class="instructor_title"><h4><a href="instructor-detail.html">نرگس حسینی</a></h4></div>
								<div class="trt_rate_inf">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star-half filled"></i>
									<span class="alt_rates">(244 نظر ثبت شده)</span>
								</div>
							</div>
							<div class="crs_trt_footer">
								<div class="crs_flex">
									<div class="crs_fl_first">
										<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
									</div>
									<div class="crs_fl_last">
										<div class="foot_list_info">
											<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Single Item -->
					<div class="lios_item">
						<div class="crs_trt_grid shadow_none brd">
							<div class="crs_trt_thumb">
								<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-5.png" class="img-fluid" alt="" /></a>
							</div>
							<div class="crs_trt_caption large">
								<div class="instructor_tag"><span>مدرس برتر پایتون / جاوا اسکریپت</span></div>
								<div class="instructor_title"><h4><a href="instructor-detail.html">متین کفاشیان</a></h4></div>
								<div class="trt_rate_inf">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star-half filled"></i>
									<span class="alt_rates">(244 نظر ثبت شده)</span>
								</div>
							</div>
							<div class="crs_trt_footer">
								<div class="crs_flex">
									<div class="crs_fl_first">
										<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
									</div>
									<div class="crs_fl_last">
										<div class="foot_list_info">
											<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Single Item -->
					<div class="lios_item">
						<div class="crs_trt_grid shadow_none brd">
							<div class="crs_trt_thumb">
								<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-6.png" class="img-fluid" alt="" /></a>
							</div>
							<div class="crs_trt_caption large">
								<div class="instructor_tag"><span>مؤلف و مدرس شیمی کنکور</span></div>
								<div class="instructor_title"><h4><a href="instructor-detail.html">مرضیه قاسمی نیا</a></h4></div>
								<div class="trt_rate_inf">
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star filled"></i>
									<i class="fa fa-star-half filled"></i>
									<span class="alt_rates">(244 نظر ثبت شده)</span>
								</div>
							</div>
							<div class="crs_trt_footer">
								<div class="crs_flex">
									<div class="crs_fl_first">
										<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
									</div>
									<div class="crs_fl_last">
										<div class="foot_list_info">
											<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
			</div>
		</div>
		
	</div>
</section>
<!-- ============================ Our Instructor End ================================== -->

<!-- ============================ Pricing Table ================================== -->
<section class="min">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h3 class="font-2">پکیج تدریس <span class="theme-cl">غیرحضوری</span></h2>
					<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
				</div>
			</div>
		</div>
		
		<div class="row align-items-center">
			
			<!-- Single Package -->
			<div class="col-lg-4 col-md-4">
				<div class="pricing_wrap">
					<div class="prt_head">
						<h4>پایه</h4>
					</div>
					<div class="prt_price">
						<h2>29<span>تومان</span></h2>
						<span>به ازای هر کاربر، در ماه</span>
					</div>
					<div class="prt_body">
						<ul>
							<li>گارانتی 100% آپتایم</li>
							<li>200 گیگابایت پهنای باند CDN</li>
							<li>20 گیگابایت فضای ذخیره سازی ابری</li>
							<li class="none">پشتیبانی آنلاین</li>
							<li class="none">SLA سازمانی</li>
						</ul>
					</div>
					<div class="prt_footer">
						<a href="#" class="btn choose_package">خرید و فعالسازی</a>
					</div>
				</div>
			</div>
			
			<!-- Single Package -->
			<div class="col-lg-4 col-md-4">
				<div class="pricing_wrap">
					<div class="prt_head">
						<div class="recommended">پیشنهاد هفته</div>
						<h4>نقره ای</h4>
					</div>
					<div class="prt_price">
						<h2>49<span>تومان</span></h2>
						<span>به ازای هر کاربر، در ماه</span>
					</div>
					<div class="prt_body">
						<ul>
							<li>گارانتی 100% آپتایم</li>
							<li>200 گیگابایت پهنای باند CDN</li>
							<li>20 گیگابایت فضای ذخیره سازی ابری</li>
							<li>پشتیبانی آنلاین</li>
							<li class="none">SLA سازمانی</li>
						</ul>
					</div>
					<div class="prt_footer">
						<a href="#" class="btn choose_package active">خرید و فعالسازی</a>
					</div>
				</div>
			</div>
			
			<!-- Single Package -->
			<div class="col-lg-4 col-md-4">
				<div class="pricing_wrap">
					<div class="prt_head">
						<h4>طلایی</h4>
					</div>
					<div class="prt_price">
						<h2>79<span>تومان</span></h2>
						<span>2 کاربر، در ماه</span>
					</div>
					<div class="prt_body">
						<ul>
							<li>گارانتی 100% آپتایم</li>
							<li>200 گیگابایت پهنای باند CDN</li>
							<li>20 گیگابایت فضای ذخیره سازی ابری</li>
							<li>پشتیبانی آنلاین</li>
							<li>SLA سازمانی</li>
						</ul>
					</div>
					<div class="prt_footer">
						<a href="#" class="btn choose_package">خرید و فعالسازی</a>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
</section>
{% endblock body %}