<div class="header theme-bg light-menu header-fixed">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="{% url 'home:home' %}">
                    <img src="/{{siteData.logo}}" id="logo" class="logo" alt="logo" />
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <li>
                            <a href="{% url 'account:login' %}">
                                <span class="embos_45"><i class="fas fa-sign-in-alt ml-1 rotate-img"></i>ورود</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper">
                <ul class="nav-menu">
                
                    <li class="active"><a href="{% url 'home:home' %}">خانه<span class="submenu-indicator"></span></a></li>
                    
                    <li><a href="#category">دسته بندی های آموزشی<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            {% for categ in category %}
                            <li><a href="#">{{categ.name}}<span class="submenu-indicator"></span></a>
                                <ul class="nav-dropdown nav-submenu">
                                    {% for lan in lang %}
                                    {% for cat in lan.category.all %}
                                    {% if cat.name == categ.name %}
                                    <li><a href="/#{{lan.hashtag}}/">{{lan.nameE}}</a></li>
                                    {% endif %}
                                    {% endfor %}
                                    {% endfor %}

                                </ul>
                            </li>
                            {% endfor %}
        
                        </ul>
                    </li>
                    <li><a href="#">راهنمایی برای انتخاب دوره</a></li>
                    
                            
                            
                        
                    {% if request.user.is_authenticated %}
                    
                    <li><a href="{% url 'home:dashboard' %}">حساب کاربری</a></li>
                    {% endif %}
                    
                </ul>
                
                <ul class="nav-menu nav-menu-social align-to-left">
                    
                    <li>
                        <a href="{% url 'account:login' %}">
                            <i class="fas fa-sign-in-alt ml-1 rotate-img"></i><span class="dn-lg">ورود</span>
                        </a>
                    </li>
                    <li class="add-listing bg-white">
                        <a href="{% url 'account:signup' %}" class="text-white">ثبت نام</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>