{% extends 'main/base.html' %}
{% load static %}
{% block body %}
<section class="gray">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8">
				<div class="sec-heading center">
					<h3 class="font-2">دوره های آموزشی <span class="theme-cl">رایـگان</span></h3>
					<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
		
			<!-- Single Grid -->
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="course-detail.html" class="crs_detail_link">
							<img src="assets/img/cr-2.jpg" class="img-fluid rounded" alt="" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_cates"><span>برنامه نویسی</span></div>
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">149</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ASP.Net - ساخت سایت شخصی</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>2ساعت 5دقیقه</span></li>
								<li><i class="fa fa-video text-success"></i><span>67 دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Grid -->
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="course-detail.html" class="crs_detail_link">
							<img src="assets/img/cr-3.jpg" class="img-fluid rounded" alt="" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_cates cl_3"><span>حسابداری</span></div>
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">129</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">دوره حضوری عالی پرورش مدیر مالی</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>15 ساعت</span></li>
								<li><i class="fa fa-video text-success"></i><span>27 دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Grid -->
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="course-detail.html" class="crs_detail_link">
							<img src="assets/img/cr-4.jpg" class="img-fluid rounded" alt="" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_cates cl_4"><span>فیزیک</span></div>
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">99</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">تدریس کامل کلاس فیزیک جامع کنکور تجربی</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>20 ساعت</span></li>
								<li><i class="fa fa-video text-success"></i><span>32 دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Grid -->
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="course-detail.html" class="crs_detail_link">
							<img src="assets/img/cr-5.jpg" class="img-fluid rounded" alt="" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_cates cl_5"><span>پروژه محور</span></div>
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">139</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ساخت فروشگاه دیجی استایل با لاراول</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>6ساعت 2دقیقه</span></li>
								<li><i class="fa fa-video text-success"></i><span>28 دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Grid -->
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="course-detail.html" class="crs_detail_link">
							<img src="assets/img/cr-6.jpg" class="img-fluid rounded" alt="" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_cates cl_6"><span>گرافیک</span></div>
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">99</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش پریمیر - تدوین و میکس ویدئو با Premier</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>5ساعت 8دقیقه</span></li>
								<li><i class="fa fa-video text-success"></i><span>18 دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<!-- Single Grid -->
			<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
				<div class="crs_grid">
					<div class="crs_grid_thumb">
						<a href="course-detail.html" class="crs_detail_link">
							<img src="assets/img/cr-7.jpg" class="img-fluid rounded" alt="" />
						</a>
						<div class="crs_video_ico">
							<i class="fa fa-play"></i>
						</div>
						<div class="crs_locked_ico">
							<i class="fa fa-lock"></i>
						</div>
					</div>
					<div class="crs_grid_caption">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_cates cl_7"><span>نرم افزار</span></div>
							</div>
							<div class="crs_fl_last">
								<div class="crs_price"><h2><span class="theme-cl">199</span><span class="currency">تومان</span></h2></div>
							</div>
						</div>
						<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش برنامه نویسی پایتون Python - مقدماتی</a></h4></div>
						<div class="crs_info_detail">
							<ul>
								<li><i class="fa fa-clock text-danger"></i><span>125 ساعت</span></li>
								<li><i class="fa fa-video text-success"></i><span>74 دوره</span></li>
							</ul>
						</div>
					</div>
					<div class="crs_grid_foot">
						<div class="crs_flex">
							<div class="crs_fl_first">
								<div class="crs_tutor">
									<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
								</div>
							</div>
							<div class="crs_fl_last">
								<div class="foot_list_info">
									<ul class="light">
										<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
										<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div class="row justify-content-center">
			<div class="col-lg-7 col-md-8 mt-2">
				<div class="text-center"><a href="grid-layout-with-sidebar.html" class="btn btn-md theme-bg-light theme-cl">همه آموزش ها</a></div>
			</div>
		</div>
		
	</div>
</section>
{% endblock body %}