{% extends 'main/base.html' %}
{% block body %}
{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock style %}

<br>
<br>
<center><h2>تاریخچه ی خرید و انتقالات</h2></center>
<br>
<br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
            {% for data_loop in data %}
   
                     
            <div id="id01" class="w3-modal">
              <div class="w3-modal-content w3-animate-top w3-card-4">
                <header class="w3-container w3-teal"> 
                  <span onclick="document.getElementById('id01').style.display='none'" 
                  class="w3-button w3-display-topright">&times;</span>
                  <h2>Modal Header</h2>
                </header>
                <div class="w3-container">
                  <p>ایدی : {{data_loop.id}}</p>
                  <p>Some text..</p>
                </div>
                <footer class="w3-container w3-teal">
                  <p>Modal Footer</p>
                </footer>
              </div>
            </div>   
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td><a href={% if data_loop.type == "خرید" %}{% url "product:detail2" data_loop.product_Pur.id %}{% else %}"#" onclick="document.getElementById('id01').style.display='block'" {% endif %}>{{data_loop.type}}</a></td>
              <td>{{data_loop.price_Pur}}</td>
              <td>{{data_loop.date}}</td>
            </tr>

            {% endfor %}
        </tbody>
      </table>
      <br>
<br>
{% block js %}

{% endblock js %}
{% endblock %}