{% extends 'main/base.html' %}
{% block body %}
{% block style %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock style %}

<br>
<br>
<center><h2>تاریخچه ی خرید و انتقالات</h2></center>
<br>
<br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
            {% for data_loop in data %}
          {% if data_loop.type == "انتقال" %}
            
          <div id="id0{{data_loop.id}}" class="w3-modal">
            <div class="w3-modal-content w3-animate-top w3-card-4">
              <header class="w3-container w3-teal"> 
                <span onclick="document.getElementById('id0{{data_loop.id}}').style.display='none'" 
                class="w3-button w3-display-topright">&times;</span>
               <center> <h2>جزئیات انتقالی</h2></center>
              </header>
              <div class="w3-container">
                <p>ایدی : {{data_loop.id}}</p>
                <p>شما ({{data_loop.senderـuser}}) مقدار {{data_loop.amount_send}} را به حساب {{data_loop.receivingـuser}} انتقال دادید.</p>
              </div>
              <footer class="w3-container w3-teal">
                <p>سایت اوپوزکس</p>
              </footer>
            </div>
          </div>   
          {% endif %}
          <tr>
              
              <th scope="row">{{forloop.counter}}</th>
              <td><a href={% if data_loop.type == "خرید" %}{% url "product:detail2" data_loop.product_Pur.id %}{% else %}"#" onclick="document.getElementById('id0{{data_loop.id}}').style.display='block'" {% endif %}>{{data_loop.type}}</a></td>
              <td>{% if data_loop.price_Pur %}
              {{data_loop.price_Pur}}
              {% else %}
              {{data_loop.amount_send}}
              {% endif %}</td>
              <td>{{data_loop.date}}</td>
            </tr>

            {% endfor %}
        </tbody>
      </table>
<br>
<br>
{% block js %}

{% endblock js %}
{% endblock %}