{% extends 'main/base.html' %}
{% block body %}
<br>
<br>
<center><h2>تاریخچه ی خرید و انتقالات</h2></center>
<br>
<br>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
            {% for data_loop in data %}
              
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{data_loop.user}}</td>
                <td>{{data_loop.price}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      <br>
<br>
{% endblock %}