{% load static %}
{% load price_management %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="fa">
	
<head>
		<meta charset="utf-8" />
		<meta name="author" content="Themezhub" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>کیف پول</title>
		 
        <!-- Custom CSS -->
        <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
    </head>
	
    <body dir="rtl">

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			{% include "main/navigation.html" %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<section class="gray pt-4" style="background-color: whitesmoke">
				<div class="container-fluid">
										
					<div class="row">

						<div class="col-lg-3 col-md-3">
							<div class="dashboard-navbar" style="border-radius: 20px;">
								
								<div class="d-user-avater">
									<img src="/{{request.user.profile}}" class="img-fluid avater" alt="">
									<h4>{{request.user.get_full_name}}</h4>
									{% comment %} <span>برنامه نویس ارشد</span> {% endcomment %}
									{{request.user.username}}
									<div class="elso_syu89">
										<ul>
											<li><a href="https://www.twitter.com/opozex"><i class="ti-twitter"></i></a></li>
											<li><a href="https://www.instagram.com/opozex"><i class="ti-instagram"></i></a></li>
										</ul>
									</div>
									<div class="elso_syu77">
										<div class="one_third"><div class="one_45ic text-warning bg-light-warning"><i class="fas fa-star"></i></div><span>امتیازات</span></div>
										<div class="one_third"><a href="{% url 'account:courses' %}"><div class="one_45ic text-success bg-light-success"><i class="fas fa-file-invoice"></i></div><span>دوره ها</span></a></div>
										<div class="one_third"><div class="one_45ic text-purple bg-light-purple"><i class="fas fa-user"></i></div><span>هنرجویان</span></div>
									</div>
								</div>
								
								<div class="d-navigation">
									<ul id="side-menu">
										<li><a href="{% url 'home:dashboard' %}"><i class="fas fa-th"></i>داشبورد</a></li>
										<li class="active"><a href="{% url 'Wallet:wallet' %}" style="font-family: sans-serif;"><i class="fas fa-credit-card"></i>کیف پول ({% if bal == 0 %}0 {% else %}{% format balancee %}{% endif %})</a></li>
						
										<li><a href="{% url 'account:ticket' %}"><i class="fas fa-comment"></i>تیکت</a></li>
										<li>
											<a href="{% url 'account:courses' %}"><i class="fas fa-shopping-cart"></i>دوره های خریداری شده</a>
										
										</li>
										<li>
											<a href="{% url 'account_email' %}"><i class="fas fa-envelope"></i>تغییر ایمیل</a>
											
										</li>
										<li>
											<a href="{% url 'account:status' %}"><i class="fas fa-history"></i>گزارشات</a>
											
										</li>
										<li>
											<a href="{% url 'sabad:cart_detail' %}"><i class="fas fa-shopping-basket "></i>سبد خرید</span></a>
											
										</li>
										<li>
											<a href="{% url 'account_change_password' %}"><i class="fas fa-key ml-1 rotate-img"></i>تغییر رمز عبور</span></a>
											
										</li>
										<li>
											<a href="{% url 'account:logout' %}" style="color:red"><i class="fas fa-sign-out-alt ml-1 rotate-img"></i>خروج</span></a>
											
										</li>
									</ul>
								</div>
								
							</div>
						</div>
						
						<div class="col-lg-9 col-md-9 col-sm-12">
							
							<!-- Row -->
							<div class="row justify-content-between">
								<div class="col-lg-12 col-md-12 col-sm-12 pb-4">
									<div class="dashboard_wrap d-flex align-items-center justify-content-between">
										<div class="arion">
											<nav class="transparent">
												<ol class="breadcrumb">
													<li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
													<li class="breadcrumb-item active" aria-current="page">کیف پول</li>
												</ol>
											</nav>
										</div>
									</div>
								</div>
							</div>
							<!-- /Row -->
							
							<div class="row">
                                <div class="col-xl-5 col-lg-6 col-md-12">
									<div class="dashboard_wrap">
										
										<div class="row justify-content-center">
											<div class="col-xl-12 col-lg-12 col-md-12">
					
							
													<div class="form-group smalls">
														<a href="{% url 'Wallet:pay' %}"><button class="btn theme-bg text-white">افزایش موجودی</button></a>
                                                      <a href="{% url 'account:status' %}"> <button class="btn btn-info text-white">تاریخچه موجودی</button></a>
                                                        
													</div>
							
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-7 col-lg-6 col-md-12">
									<div class="dashboard_wrap">
										
										<div class="row">
											<div class="col-xl-12 col-lg-12 col-md-12 mb-4">
												<h6 class="m-0">انتقال موجودی</h6>
											</div>
										</div>

{% if messages %}
  {% for message in messages %}
  
  <div class="alert alert-{% if message.tags == "error" %}danger{% else %}success{% endif %}" role="alert">
  {{ message }}
	</div>
  {% endfor %}
</ul>
{% endif %}
										<div class="row justify-content-center">
											<div class="col-xl-12 col-lg-12 col-md-12">
												<form method="post">
													{% csrf_token %}
													<div class="form-group smalls">
														<label>مبلغ*</label>
														{% render_field form.balance class="form-control" %}
                                                        <h6 style="font-family: sans-serif;"> <span style="font-family: IRANSans;">قابل انتقال</span> : {% format balancee %} </h6>
													</div>
                                                    <div class="form-group smalls">
														<label>نام کاربری*</label>
														{% render_field form.user_id class="form-control" %}

													</div>
														
										

													<div class="form-group smalls">
														<button class="btn btn-warning" style="color: whitesmoke;" type="submit">انتقال</button>
													</div>
												</form>
											</div>
										</div>
										
									</div>
								</div>

										<div class="alert alert-info" role="alert">
											<b>نکته !</b>
											<p>
												<ul>
													<li>حداقل پرداخت 100 هزار تومان میباشد</li>
													<li>برداشت موجود امکان پذیر نمیباشد پس در هنگام واریز دقت فرمایید</li>
													<li>شما از طریق انتقال موجود میتوانید به دوستان خود موجودی انتقال دهید</li>
												</ul>
											</p>
										  </div>

								
							</div>
							
							
						</div>
					
					</div>
					
				</div>
			</section>


            {% include 'main/footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
		
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>

		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->

		<script type="text/javascript" src="{% static '/assets/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/select2.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/slick.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/daterangepicker.js' %}"></script> 
		<script type="text/javascript" src="{% static '/assets/js/summernote.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/metisMenu.min.js'  %}"></script>	
		<script type="text/javascript" src="{% static '/assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>

</html>            