{% load static %}
{% load price_management %}
<!DOCTYPE html>
<html lang="fa">
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>دسته بندی - {{inp}}</title>
		 
        <!-- Custom CSS -->
        <link type="text/css" href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
    </head>
	
    <body dir="rtl">

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			
			{% include "main/navigation.html" %}

			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">دسته بندی - {{inp}}</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb p-0 bg-white">
										<li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">{{inp}}</li>
									</ol>
								</nav>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ Course Detail ================================== -->
			<section class="gray" style="background-color:whitesmoke;">
				<div class="container">
					<div class="row">
					
						<div class="col-lg-12 col-md-12 col-sm-12">
							<div class="short_wraping">
								<div class="row m-0 align-items-center justify-content-between">
								
									<div class="col-lg-4 col-md-5 col-sm-12  col-sm-6">
										<div class="shorting_pagination_laft">
											<h6 class="m-0"> {{ categoryname }}</h6>
										</div>
									</div>
							
									<div class="col-lg-8 col-md-7 col-sm-12 col-sm-6">
										<div class="dlks_152">
											<a href="{% url 'category:filterCategory' inp %}"><button class="btn theme-bg">فیلتر</button></a>

									
										</div>
									</div>
								</div>
							</div>
						</div>
					
					</div>
					
					<div class="row justify-content-center">
						{% for pro in categoryname %}
						<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
							<div class="crs_grid_list">
								
								<div class="crs_grid_list_thumb">
									<a href="{% url 'product:detail' pro.slug %}"><img src="/{{pro.image}}" class="img-fluid rounded" alt="{{pro.name}}"></a>
								</div>
								
								<div class="crs_grid_list_caption">
									<div class="crs_lt_101">
										{% for ca in pro.language.all %}
										<span class="est st_{{forloop.counter}}">{{ca}}</span>
								{% endfor %}
									</div>
									<div class="crs_lt_102">
										<a href="{% url 'product:detail' pro.slug %}"><h4 class="crs_tit">{{ pro.name }}</h4></a>
									</div>
									<div class="crs_lt_103">
										<div class="crs_info_detail">
											<ul>
												
												<li><i class="fa fa-user"></i><span>{{pro.student_count}} دانشجو</span></li>
												<li><i class="fa fa-eye"></i><span>{{pro.view}} بازدید</span></li>
											</ul>
										</div>
									</div>
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_price">{% if pro.price_percent > 0 %}<span style="color:red">{{pro.price_percent}}٪  تخفیف</span>{% endif %}<h2><span class="theme-cl">{% takhfif pro.price pro.pricepercent pro.id %}</span><span class="currency">هزار تومان</span></h2></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_linkview"><a href="{% url 'buy:product_bought' pro.id %}" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
										</div>
									</div>
								</div>
								
							</div>
						</div>

						{% endfor %}
						
					</div>
			
								<!-- Pagination -->
<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<ul class="pagination p-center">

								
	{% for pagination in page %}
							
								<li class="page-item"><a class="page-link bg-dark" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
							
							
	{% endfor %}
							</ul>
					</div> 
						
				</div>
			</section>
			<!-- ============================ Course Detail ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
	
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			{% include 'main/footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
	
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/select2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/slick.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/daterangepicker.js' %}"></script> 
		<script type="text/javascript" src="{% static 'assets/js/metisMenu.min.js' %}"></script>	
		<script type="text/javascript" src="{% static 'assets/js/summernote.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>

</html>