{% load static %}
{% load price_management %}
{% load get_item %}
{% load widget_tweaks %}


<!DOCTYPE html>
<html lang="fa">
	
<head>
		<meta charset="utf-8" />
		<meta name="author" content="Themezhub" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <title>همه محصولات</title>

        <!-- Custom CSS -->
        <link type="text/css" href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
		
    </head>
	
    <body dir="rtl">

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
     {% include "main/navigation.html" %}
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Page Title Start================================== -->
			<section class="page-title">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							
							<div class="breadcrumbs-wrap">
								<h1 class="breadcrumb-title font-2">همه محصولات</h1>
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb p-0 bg-white">
										<li class="breadcrumb-item"><a href="{% url 'home:home' %}">خانه</a></li>
										<li class="breadcrumb-item active theme-cl" aria-current="page">همه محصولات</li>
									</ol>
								</nav>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Page Title End ================================== -->
			
			<!-- ============================ All Cources ================================== -->
			<section class="gray">
				<div class="container">
					<div class="row">
					

						<!-- Content -->
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<div class="short_wraping">
										<div class="row m-0 align-items-center justify-content-between">
										
											<div class="col-lg-4 col-md-5 col-sm-12  col-sm-6">
												<div class="shorting_pagination_laft">
                                                    <h6 class="m-0"> {% if request.POST %}{{categoryname.count}}{% else %}{{ categoryname }}{% endif %}</h6>
												</div>
											</div>
								
										</div>
									</div>
								</div>
							</div>
	
							<div class="row justify-content-center">
                                {% for pro in categoryname %}
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
									<div class="crs_grid shadow_none brd">
										<div class="crs_grid_thumb">
											<a href="{% url 'product:detail' pro.id %}/" class="crs_detail_link">
												<img src="/{{pro.image}}" class="img-fluid rounded" alt="{{pro.slug}}">
											</a>
											<div class="crs_video_ico">
												<i class="fa fa-play"></i>
											</div>
											<div class="crs_locked_ico">
												<i class="fa fa-lock"></i>
											</div>
										</div>
										<div class="crs_grid_caption">
											<div class="crs_flex">
												<div class="crs_fl_first">
                                                    {% for ca in pro.language.all %}
													<div class="crs_cates cl_8"><span>{{ca}}</span></div>
                                            {% endfor %}
												
												</div>
												<div class="crs_fl_last">
													<div class="crs_inrolled"><strong>{{pro.view}}</strong>بازدید</div>
												</div>
											</div>
											<div class="crs_title"><h4><a href="{% url 'product:detail' pro.id %}/" class="crs_title_link">{{ pro.name }}</a></h4></div>
											<h6>{{pro.small_description|truncatechars:150}}</h6>
											<div class="crs_info_detail">
												<ul>
													<li><i class="fa fa-clock text-danger"></i><span>{{pro.tutorial}}</span></li>
													<li><i class="fa fa-video text-success"></i><span>{{pro.tutorial_count}} دوره</span></li>
													<li><i class="fa fa-signal text-warning"></i><span>{{pro.tutorial_level}}</span></li>
												</ul>
											</div>
										</div>
										<div class="crs_grid_foot">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_tutor">
														<div class="crs_tutor_thumb"><a href="{% url 'product:detail' pro.id %}/"><img src="/{{user.profile}}" class="img-fluid circle" alt="{{pro.name}}" /></a></div><div class="crs_tutor_name"><a href="{% url 'product:detail' pro.id %}/">{{user.username}}</a></div>
													</div>
												</div>
												<div class="crs_fl_last">
													<div class="crs_price">{% if pro.price_percent > 0 %}<span style="color:red">{{pro.price_percent}}٪  تخفیف</span>{% endif %}<h2><span class="theme-cl">{% takhfif pro.price pro.pricepercent pro.id %}</span><span class="currency">تومان</span></h2></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							    {% endfor %}
							
							</div>
							
							<!-- Pagination -->
							<div class="row">
								<div class="col-lg-12 col-md-12 col-sm-12">
									<ul class="pagination p-center">
		
										
			{% for pagination in page %}
									
										<li class="page-item"><a class="page-link bg-dark" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
									
									
			{% endfor %}
									</ul>
							</div> 
								
						</div>
							
						</div>
					
					</div>
				</div>
			</section>
			<!-- ============================ All Cources ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
	
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			{% include 'main/footer.html' %}
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
		
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
        <script type="text/javascript" src="{% static 'assets/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/select2.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/slick.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/daterangepicker.js' %}"></script> 
		<script type="text/javascript" src="{% static 'assets/js/metisMenu.min.js' %}"></script>	
		<script type="text/javascript" src="{% static 'assets/js/summernote.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		

	</body>

</html>