{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		#logo{
			border-radius: 50%;
			height: 50px;
		}
	</style>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'assets/css/styles.css' %}" rel="stylesheet">
    <title>{{siteData.nameF}} | {{siteData.nameE}}</title>
</head>
    <body dir="rtl">

        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
           <!-- Start Navigation -->
			<div class="header theme-bg light-menu header-fixed">
				<div class="container">
					<nav id="navigation" class="navigation navigation-landscape">
						<div class="nav-header">
							<a class="nav-brand" href="{% url 'home:home' %}">
								<img src="{{siteData.logo}}" id="logo" class="logo" alt="logo" />
							</a>
							<div class="nav-toggle"></div>
							<div class="mobile_nav">
								<ul>
									<li>
										<a href="{% url 'account:login' %}">
											<span class="embos_45"><i class="fas fa-sign-in-alt ml-1 rotate-img"></i>ورود</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						<div class="nav-menus-wrapper">
							<ul class="nav-menu">
							
								<li class="active"><a href="{% url 'home:home' %}">خانه<span class="submenu-indicator"></span></a></li>
								
								<li><a href="#">دوره های آموزشی<span class="submenu-indicator"></span></a>
									<ul class="nav-dropdown nav-submenu">
										{% for categ in category %}
										<li><a href="#">{{categ.name}}<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												{% for lan in lang %}
												{% for cat in lan.category.all %}
												{% if cat.name == categ.name %}
												<li><a href="/#{{lan.hashtag}}/">{{lan.nameE}}</a></li>
												{% endif %}
												{% endfor %}
												{% endfor %}

											</ul>
										</li>
										{% endfor %}
					
									</ul>
								</li>
								<li><a href="#">راهنمایی برای انتخاب دوره</a></li>
								
										<li><a href="/favarite/">موردعلاقه ها</a></li>
										<li><a href="/about/">درباره ما</a></li>
										<li><a href="/contact/">تماس با ما</a></li>
									
								
								<li><a href="{% url 'home:dashboard' %}">حساب کاربری</a></li>
								
							</ul>
							
							<ul class="nav-menu nav-menu-social align-to-left">
								
								<li>
									<a href="{% url 'account:login' %}">
										<i class="fas fa-sign-in-alt ml-1 rotate-img"></i><span class="dn-lg">ورود</span>
									</a>
								</li>
								<li class="add-listing bg-white">
									<a href="{% url 'account:signup' %}" class="text-white">ثبت نام</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			
			<!-- ============================ Hero Banner  Start================================== -->
			<div class="hero_banner image-cover image_bottom h7_bg">
				<div class="container">
					<div class="row align-items-center">
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="simple-search-wrap text-right">
								<div class="hero_search-2">
									<h1 class="banner_title mb-4 font-2">این پروژه به شدت در دست توسعه میباشد ...</h1>
									<p class="font-lg mb-4">تمام ویدیو ها و دوره های تاپ دوبله شده همراه  داکیومنت اصلی ترجمه شده
									<div class="input-group simple_search">
										<i class="fa fa-search ico"></i>
										<input type="text" class="form-control" placeholder="جستجو دوره آموزش...">
										<div class="input-group-append">
											<button class="btn theme-bg" type="button">جستجو</button>
										</div>
									</div>
									<div class="crs_trio_info">
{% comment %} <div class="crs_trio">
											<h4 class="ctr"><span class="rt_count">{{userc}}</span> کاربر</h4>
											<span class="pol_title">فعال در سایت</span>
										</div> {% endcomment %}

										<div class="crs_trio" style="margin: auto;">
											<h4 class="ctr"><span class="rt_count">{{prodc}}</span> دوره</h4>
											<span class="pol_title">آموزش آنلاین</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-12">
							<div class="side_block extream_img">
								<div class="list_crs_img">
									<img src="{% static 'assets/img/ic-1.png' %}" class="img-fluid cirl animate-fl-y" alt="" />
									<img src="{% static 'assets/img/ic-2.png' %}" class="img-fluid arrow animate-fl-x" alt="" />
									<img src="{% static 'assets/img/ic-3.png' %}" class="img-fluid moon animate-fl-x" alt="" />
								</div>
								<img src="{% static 'assets/img/side-2.png' %}" class="img-fluid" alt="" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ============================ Hero Banner End ================================== -->
			
		
			<!-- ================================ Tag Award ================================ -->
			
			<!-- ============================ Featured Categories Start ================================== -->
			<section class="min">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">دسته بندی های آموزشی <span class="theme-cl">منتخب</span></h3>
								{% comment %} <p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p> {% endcomment %}
							</div>
						</div>
					</div>
					
					
					<div class="row justify-content-center">
						<!-- Single Category -->
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-code"></i></div>
									<div class="crs_cate_caption"><span>برنامه نویسی</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-window-restore"></i></div>
									<div class="crs_cate_caption"><span>مهندسی نرم افزار</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-leaf"></i></div>
									<div class="crs_cate_caption"><span>سبک زندگی</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-heartbeat"></i></div>
									<div class="crs_cate_caption"><span>علوم انسانی</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-landmark"></i></div>
									<div class="crs_cate_caption"><span>بورس و بازار سهام</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-photo-video"></i></div>
									<div class="crs_cate_caption"><span>طراحی و گرافیک</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-stamp"></i></div>
									<div class="crs_cate_caption"><span>مالی و حسابداری</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
						<div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
							<div class="crs_cate_wrap style_2">
								<a href="grid-layout-with-sidebar.html" class="crs_cate_box">
									<div class="crs_cate_icon"><i class="fa fa-school"></i></div>
									<div class="crs_cate_caption"><span>نگارش آکادمیک</span></div>
									<div class="crs_cate_count"><span>22 دوره</span></div>
								</a>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Featured Categories End ================================== -->
			
			<!-- ============================ Latest Cources Start ================================== -->
			<section class="gray">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">دوره های آموزشی <span class="theme-cl">رایـگان</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
					
						<!-- Single Grid -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="course-detail.html" class="crs_detail_link">
										<img src="assets/img/cr-2.jpg" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates"><span>برنامه نویسی</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">149</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ASP.Net - ساخت سایت شخصی</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>2ساعت 5دقیقه</span></li>
											<li><i class="fa fa-video text-success"></i><span>67 دوره</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul class="light">
													<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Grid -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="course-detail.html" class="crs_detail_link">
										<img src="assets/img/cr-3.jpg" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates cl_3"><span>حسابداری</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">129</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">دوره حضوری عالی پرورش مدیر مالی</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>15 ساعت</span></li>
											<li><i class="fa fa-video text-success"></i><span>27 دوره</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul class="light">
													<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Grid -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="course-detail.html" class="crs_detail_link">
										<img src="assets/img/cr-4.jpg" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates cl_4"><span>فیزیک</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">99</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">تدریس کامل کلاس فیزیک جامع کنکور تجربی</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>20 ساعت</span></li>
											<li><i class="fa fa-video text-success"></i><span>32 دوره</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul class="light">
													<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Grid -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="course-detail.html" class="crs_detail_link">
										<img src="assets/img/cr-5.jpg" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates cl_5"><span>پروژه محور</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">139</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش ساخت فروشگاه دیجی استایل با لاراول</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>6ساعت 2دقیقه</span></li>
											<li><i class="fa fa-video text-success"></i><span>28 دوره</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul class="light">
													<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Grid -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="course-detail.html" class="crs_detail_link">
										<img src="assets/img/cr-6.jpg" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates cl_6"><span>گرافیک</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">99</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش پریمیر - تدوین و میکس ویدئو با Premier</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>5ساعت 8دقیقه</span></li>
											<li><i class="fa fa-video text-success"></i><span>18 دوره</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul class="light">
													<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
						<!-- Single Grid -->
						<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
							<div class="crs_grid">
								<div class="crs_grid_thumb">
									<a href="course-detail.html" class="crs_detail_link">
										<img src="assets/img/cr-7.jpg" class="img-fluid rounded" alt="" />
									</a>
									<div class="crs_video_ico">
										<i class="fa fa-play"></i>
									</div>
									<div class="crs_locked_ico">
										<i class="fa fa-lock"></i>
									</div>
								</div>
								<div class="crs_grid_caption">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_cates cl_7"><span>نرم افزار</span></div>
										</div>
										<div class="crs_fl_last">
											<div class="crs_price"><h2><span class="theme-cl">199</span><span class="currency">تومان</span></h2></div>
										</div>
									</div>
									<div class="crs_title"><h4><a href="course-detail.html" class="crs_title_link">آموزش برنامه نویسی پایتون Python - مقدماتی</a></h4></div>
									<div class="crs_info_detail">
										<ul>
											<li><i class="fa fa-clock text-danger"></i><span>125 ساعت</span></li>
											<li><i class="fa fa-video text-success"></i><span>74 دوره</span></li>
										</ul>
									</div>
								</div>
								<div class="crs_grid_foot">
									<div class="crs_flex">
										<div class="crs_fl_first">
											<div class="crs_tutor">
												<div class="crs_tutor_thumb"><a href="instructor-detail.html"><img src="assets/img/team-5.jpg" class="img-fluid circle" alt="" /></a></div>
											</div>
										</div>
										<div class="crs_fl_last">
											<div class="foot_list_info">
												<ul class="light">
													<li><div class="elsio_ic"><i class="fa fa-user text-danger"></i></div><div class="elsio_tx">4.7k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-eye text-success"></i></div><div class="elsio_tx">42.4k</div></li>
													<li><div class="elsio_ic"><i class="fa fa-star text-warning"></i></div><div class="elsio_tx">4.7</div></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8 mt-2">
							<div class="text-center"><a href="grid-layout-with-sidebar.html" class="btn btn-md theme-bg-light theme-cl">همه آموزش ها</a></div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Latest Cources End ================================== -->
			
			<!-- ============================ Work Process Start ================================== -->
			<section class="imageblock">
				<div class="imageblock__content">
					<div class="background-image-holder" style="background: url(assets/img/side-1.jpg);">
                        <img alt="image" src="assets/img/side-1.jpg">
                    </div>
				</div>
				<div class="container">
					
					<div class="row align-items-center justify-content-between">
						<div class="col-xl-5 col-lg-6 col-md-6 col-sm-12">
							<div class="lmp_caption">
								<h2 class="mb-3 font-2">معرفی بهترین مربیان در شهر شما</h2>
								<p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">دسترسی کاملا مادام العمر</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">بیش از 20 منبع قابل دانلود</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">ارائه مدرک معتبر</h6>
									</div>
								</div>
								<div class="mb-3 ml-4 mr-lg-0 ml-lg-4">
									<div class="d-flex align-items-center">
									  <div class="rounded-circle bg-light-success theme-cl p-2 small d-flex align-items-center justify-content-center">
										<i class="fas fa-check"></i>
									  </div>
									  <h6 class="mb-0 mr-3">آزمایشی رایگان 7 روز</h6>
									</div>
								</div>
								<div class="text-right mt-4"><a href="#" class="btn btn-md text-light theme-bg">شروع ثبت نام</a></div>
							</div>
						</div>
					</div>
				</div>
			</section>
				
			<section class="imageblock pt-m-0">
				<div class="imageblock__content right">
					<div class="background-image-holder" style="background: url(assets/img/side-2.jpg);">
                        <img alt="image" src="assets/img/side-1.jpg">
                    </div>
				</div>
				<div class="container">
					<div class="row align-items-center justify-content-end">
						<div class="col-xl-5 col-lg-5 col-md-6 col-sm-12">
							<div class="lmp_caption">
								<ol class="list-unstyled p-0">
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-photo-video"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">آپلود دوره های آموزشی</h4>
									  <p>
										برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
									  </p>
									</div>
								  </li>
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-edit"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">سفارشی سازی آسان</h4>
									  <p>
										برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
									  </p>
									</div>
								  </li>
								   <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-question-circle"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">پرسش سوالات نامحدود</h4>
									  <p>
										برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
									  </p>
									</div>
								  </li>
								  <li class="d-flex align-items-start my-3 my-md-4">
									<div class="rounded-circle p-3 p-sm-4 d-flex align-items-center justify-content-center gray">
									  <div class="position-absolute theme-cl h5 mb-0"><i class="fa fa-thumbs-up"></i></div>
									</div>
									<div class="mr-3 mr-md-4">
									  <h4 class="font-2">100% رضایت کاربر</h4>
									  <p>
										سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
									  </p>
									</div>
								  </li>
								</ol>
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- ============================ Work Process End ================================== -->
			
			<!-- ============================ Our Instructor Start ================================== -->
			<section class="gray">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-10 text-center">
							<div class="sec-heading center mb-4">
								<h3 class="font-2">لیست مدرسین <span class="theme-cl">پیشنهادی</span></h3>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>
					
					<div class="row justify-content-center">
						<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
							<div class="tutor-slide">
							
								<!-- Single Item -->
								<div class="lios_item">	
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
											<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-1.png" class="img-fluid" alt="" /></a>
										</div>
										<div class="crs_trt_caption large">
											<div class="instructor_tag"><span>مدرس برتر ریاضیات و فیزیک</span></div>
											<div class="instructor_title"><h4><a href="instructor-detail.html">مصطفی اسلامی</a></h4></div>
											<div class="trt_rate_inf">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>
												<span class="alt_rates">(244 نظر ثبت شده)</span>
											</div>
										</div>
										<div class="crs_trt_footer">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
												</div>
												<div class="crs_fl_last">
													<div class="foot_list_info">
														<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="lios_item">
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
											<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-2.png" class="img-fluid" alt="" /></a>
										</div>
										<div class="crs_trt_caption large">
											<div class="instructor_tag"><span>مدرس برتر ریاضی و فیزیک</span></div>
											<div class="instructor_title"><h4><a href="instructor-detail.html">نادیا ناصری</a></h4></div>
											<div class="trt_rate_inf">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>
												<span class="alt_rates">(244 نظر ثبت شده)</span>
											</div>
										</div>
										<div class="crs_trt_footer">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
												</div>
												<div class="crs_fl_last">
													<div class="foot_list_info">
														<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="lios_item">
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
											<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-3.png" class="img-fluid" alt="" /></a>
										</div>
										<div class="crs_trt_caption large">
											<div class="instructor_tag"><span>مدرس برتر شیمی</span></div>
											<div class="instructor_title"><h4><a href="instructor-detail.html">سروش نجفی نژاد</a></h4></div>
											<div class="trt_rate_inf">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>
												<span class="alt_rates">(244 نظر ثبت شده)</span>
											</div>
										</div>
										<div class="crs_trt_footer">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
												</div>
												<div class="crs_fl_last">
													<div class="foot_list_info">
														<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="lios_item">
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
											<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-4.png" class="img-fluid" alt="" /></a>
										</div>
										<div class="crs_trt_caption large">
											<div class="instructor_tag"><span>دکترای آموزش زبان انگلیسی</span></div>
											<div class="instructor_title"><h4><a href="instructor-detail.html">نرگس حسینی</a></h4></div>
											<div class="trt_rate_inf">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>
												<span class="alt_rates">(244 نظر ثبت شده)</span>
											</div>
										</div>
										<div class="crs_trt_footer">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
												</div>
												<div class="crs_fl_last">
													<div class="foot_list_info">
														<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="lios_item">
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
											<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-5.png" class="img-fluid" alt="" /></a>
										</div>
										<div class="crs_trt_caption large">
											<div class="instructor_tag"><span>مدرس برتر پایتون / جاوا اسکریپت</span></div>
											<div class="instructor_title"><h4><a href="instructor-detail.html">متین کفاشیان</a></h4></div>
											<div class="trt_rate_inf">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>
												<span class="alt_rates">(244 نظر ثبت شده)</span>
											</div>
										</div>
										<div class="crs_trt_footer">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
												</div>
												<div class="crs_fl_last">
													<div class="foot_list_info">
														<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- Single Item -->
								<div class="lios_item">
									<div class="crs_trt_grid shadow_none brd">
										<div class="crs_trt_thumb">
											<a href="instructor-detail.html" class="crs_trt_thum_link"><img src="assets/img/t-6.png" class="img-fluid" alt="" /></a>
										</div>
										<div class="crs_trt_caption large">
											<div class="instructor_tag"><span>مؤلف و مدرس شیمی کنکور</span></div>
											<div class="instructor_title"><h4><a href="instructor-detail.html">مرضیه قاسمی نیا</a></h4></div>
											<div class="trt_rate_inf">
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star filled"></i>
												<i class="fa fa-star-half filled"></i>
												<span class="alt_rates">(244 نظر ثبت شده)</span>
											</div>
										</div>
										<div class="crs_trt_footer">
											<div class="crs_flex">
												<div class="crs_fl_first">
													<div class="crs_trt_ent"><i class="fa fa-user"></i>  2.5 شرکت کننده</div>
												</div>
												<div class="crs_fl_last">
													<div class="foot_list_info">
														<div class="crs_linkview"><a href="course-detail.html" class="btn btn_view_detail theme-bg text-light">ثبت نام</a></div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							
							</div>
						</div>
					</div>
					
				</div>
			</section>
			<!-- ============================ Our Instructor End ================================== -->
			
			<!-- ============================ Pricing Table ================================== -->
			<section class="min">
				<div class="container">
				
					<div class="row justify-content-center">
						<div class="col-lg-7 col-md-8">
							<div class="sec-heading center">
								<h3 class="font-2">پکیج تدریس <span class="theme-cl">غیرحضوری</span></h2>
								<p>با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
							</div>
						</div>
					</div>
					
					<div class="row align-items-center">
						
						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing_wrap">
								<div class="prt_head">
									<h4>پایه</h4>
								</div>
								<div class="prt_price">
									<h2>29<span>تومان</span></h2>
									<span>به ازای هر کاربر، در ماه</span>
								</div>
								<div class="prt_body">
									<ul>
										<li>گارانتی 100% آپتایم</li>
										<li>200 گیگابایت پهنای باند CDN</li>
										<li>20 گیگابایت فضای ذخیره سازی ابری</li>
										<li class="none">پشتیبانی آنلاین</li>
										<li class="none">SLA سازمانی</li>
									</ul>
								</div>
								<div class="prt_footer">
									<a href="#" class="btn choose_package">خرید و فعالسازی</a>
								</div>
							</div>
						</div>
						
						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing_wrap">
								<div class="prt_head">
									<div class="recommended">پیشنهاد هفته</div>
									<h4>نقره ای</h4>
								</div>
								<div class="prt_price">
									<h2>49<span>تومان</span></h2>
									<span>به ازای هر کاربر، در ماه</span>
								</div>
								<div class="prt_body">
									<ul>
										<li>گارانتی 100% آپتایم</li>
										<li>200 گیگابایت پهنای باند CDN</li>
										<li>20 گیگابایت فضای ذخیره سازی ابری</li>
										<li>پشتیبانی آنلاین</li>
										<li class="none">SLA سازمانی</li>
									</ul>
								</div>
								<div class="prt_footer">
									<a href="#" class="btn choose_package active">خرید و فعالسازی</a>
								</div>
							</div>
						</div>
						
						<!-- Single Package -->
						<div class="col-lg-4 col-md-4">
							<div class="pricing_wrap">
								<div class="prt_head">
									<h4>طلایی</h4>
								</div>
								<div class="prt_price">
									<h2>79<span>تومان</span></h2>
									<span>2 کاربر، در ماه</span>
								</div>
								<div class="prt_body">
									<ul>
										<li>گارانتی 100% آپتایم</li>
										<li>200 گیگابایت پهنای باند CDN</li>
										<li>20 گیگابایت فضای ذخیره سازی ابری</li>
										<li>پشتیبانی آنلاین</li>
										<li>SLA سازمانی</li>
									</ul>
								</div>
								<div class="prt_footer">
									<a href="#" class="btn choose_package">خرید و فعالسازی</a>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
			</section>
			<!-- ============================ Pricing Table End ================================== -->
			
			<!-- ============================ Call To Action ================================== -->
			<section class="theme-bg call_action_wrap-wrap">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							
							<div class="call_action_wrap">
								<div class="call_action_wrap-head">
									<h3 class="font-2">آیا سوالی دارید؟</h3>
									<span>ما به شما کمک خواهیم کرد تا شغل و رشد خود را افزایش دهید.</span>
								</div>
								<a href="#" class="btn btn-call_action_wrap">امروز با ما تماس بگیرید</a>
							</div>
							
						</div>
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- ============================ Footer Start ================================== -->
			<footer class="dark-footer skin-dark-footer style-2">
				<div class="footer-middle">
					<div class="container">
						<div class="row">
							
							<div class="col-lg-5 col-md-5">
								<div class="footer_widget">
									<img src="assets/img/logo-light.png" class="img-footer small mb-2" alt="" />
									<h4 class="extream mb-3 font-2">آیا به کمک تیم پشتیبانی<br>نیاز دارید؟</h4>
									<p>هر ماه با عضویت در خبرنامه ما از به‌روزرسانی‌ها، معاملات جدید، آموزش‌ها و تخفیف‌ها باخبر شوید.</p>
									<div class="foot-news-last">
										<div class="input-group">
										  <input type="text" class="form-control" placeholder="ایمیل">
											<div class="input-group-append">
												<button type="button" class="input-group-text theme-bg b-0 text-light">عضویت</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							
							<div class="col-lg-6 col-md-7 ml-auto">
								<div class="row">
								
									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">صفحات</h4>
											<ul class="footer-menu">
												<li><a href="#">صفحه اصلی</a></li>
												<li><a href="#">درباره ما</a></li>
												<li><a href="#">خدمات</a></li>
												<li><a href="#">دوره های آموزشی</a></li>
												<li><a href="#">تماس با ما</a></li>
												<li><a href="#">لیست وبلاگ</a></li>
											</ul>
										</div>
									</div>
											
									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">تمام بخش ها</h4>
											<ul class="footer-menu">
												<li><a href="#">منو<span class="new">جدید</span></a></li>
												<li><a href="#">ویژگی های جذاب</a></li>
												<li><a href="#">المان ها<span class="new">جدید</span></a></li>
												<li><a href="#">نظرات کاربران</a></li>
												<li><a href="#">ویدئو</a></li>
												<li><a href="#">فوتر</a></li>
											</ul>
										</div>
									</div>
							
									<div class="col-lg-4 col-md-4">
										<div class="footer_widget">
											<h4 class="widget_title">لینک های مفید</h4>
											<ul class="footer-menu">
												<li><a href="#">درباره ما</a></li>
												<li><a href="#">وبلاگ</a></li>
												<li><a href="#">قیمت گذاری</a></li>
												<li><a href="#">ثبت نام</a></li>
												<li><a href="#">ورود به حساب</a></li>
												<li><a href="#">پشتیبانی <span class="update">بروزرسانی</span></a></li>
											</ul>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2022 قالب SkillUp ارائه شده مدرس <a href="https://rtl-theme.com/">راست چین</a></p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- ============================ Footer End ================================== -->
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true">
				<div class="modal-dialog modal-xl login-pop-form" role="document">
					<div class="modal-content overli" id="loginmodal">
						<div class="modal-header">
							<h5 class="modal-title">ورود به حساب کاربری</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							  <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
							</button>
						  </div>
						<div class="modal-body">
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>نام کاربری</label>
										<div class="input-with-icon">
											<input type="text" class="form-control" placeholder="نام کاربری/ ایمیل">
											<i class="ti-user"></i>
										</div>
									</div>
									
									<div class="form-group">
										<label>رمز عبور</label>
										<div class="input-with-icon">
											<input type="password" class="form-control" placeholder="*******">
											<i class="ti-unlock"></i>
										</div>
									</div>
									
									<div class="form-group row">
										<div class="col-xl-4 col-lg-4 col-4">
											<input id="admin" class="checkbox-custom" name="admin" type="checkbox">
											<label for="admin" class="checkbox-custom-label">مدیر</label>
										</div>
										<div class="col-xl-4 col-lg-4 col-4">
											<input id="student" class="checkbox-custom" name="student" type="checkbox" checked>
											<label for="student" class="checkbox-custom-label">هنرجو</label>
										</div>
										<div class="col-xl-4 col-lg-4 col-4">
											<input id="instructor" class="checkbox-custom" name="instructor" type="checkbox">
											<label for="instructor" class="checkbox-custom-label">مدرس</label>
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn btn-md full-width theme-bg text-white">ورود به حساب</button>
									</div>
									
									<div class="rcs_log_125 pt-2 pb-3">
										<span>یا ورود از طریق شبکه های اجتماعی</span>
									</div>
									<div class="rcs_log_126 full">
										<ul class="social_log_45 row">
											<li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-facebook text-info"></i>Facebook</a></li>
											<li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-google text-danger"></i>Google</a></li>
											<li class="col-xl-4 col-lg-4 col-md-4 col-4"><a href="javascript:void(0);" class="sl_btn"><i class="ti-twitter theme-cl"></i>Twitter</a></li>
										</ul>
									</div>
								
								</form>
							</div>
						</div>
						<div class="crs_log__footer d-flex justify-content-between mt-0">
							<div class="fhg_45"><p class="musrt">حساب کاربری ندارید؟ <a href="signup.html" class="theme-cl">ثبت نام</a></p></div>
							<div class="fhg_45"><p class="musrt"><a href="forgot.html" class="text-danger">رمز عبور را فراموش کرده اید؟</a></p></div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->
			
			<a id="back2Top" class="top-scroll" title="Back to top" href="#"><i class="ti-arrow-up"></i></a>
			

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script type="text/javascript" src="{% static '/assets/js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/popper.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/bootstrap.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/select2.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/slick.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/moment.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/daterangepicker.js' %}"></script> 
		<script type="text/javascript" src="{% static '/assets/js/summernote.min.js' %}"></script>
		<script type="text/javascript" src="{% static '/assets/js/metisMenu.min.js'  %}"></script>	
		<script type="text/javascript" src="{% static '/assets/js/custom.js' %}"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->		


</body>
</html>